.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  .modal-content {
    background-color: rgb(45, 45, 48);
    margin: 15% auto;
    padding: 20px;
    border: 2px solid #056952;
    border-radius: 5px;
    width: 40rem;
    text-align: center;
    color: white;

    @media screen and (max-width: 700px) {
      width: 90%;
    }

    form {
      text-align: center;

      h2 {
        text-transform: uppercase;
        margin-bottom: 2rem;
      }

      .name {
        margin-bottom: 2rem;
        input {
          width: 30rem;
          height: 2rem;
          border: none;
          border-radius: 4px;
          font-size: 1.5rem;
          background-color: rgb(64, 64, 69);
          color: #056952;
          padding: 0.5rem;

          @media screen and (max-width: 700px) {
            width: 90%;
          }

          &:focus {
            outline: none;
          }
        }
      }

      .text {
        margin-bottom: 1.5rem;
        textarea {
          width: 30rem;
          height: 10rem;
          resize: none;
          background-color: rgb(64, 64, 69);
          color: white;
          padding: 0.5rem;
          border: none;
          font-size: 1rem;
          border-radius: 4px;

          @media screen and (max-width: 700px) {
            width: 90%;
          }

          &:focus {
            outline: none;
          }
        }
      }

      input[type="submit"] {
        width: 5rem;
        height: 1.5rem;
        border: none;
        text-transform: uppercase;
        font-size: bold;
        background-color: #056952;
        transition: all 0.2s ease-in-out;
        color: rgb(159, 152, 152);
        cursor: pointer;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
  button {
    width: 5rem;
    height: 1.5rem;
    border: none;
    text-transform: uppercase;
    font-size: bold;
    background-color: #056952;
    transition: all 0.2s ease-in-out;
    color: rgb(159, 152, 152);
    cursor: pointer;
    margin-top: 2rem;

    &:hover {
      transform: scale(1.05);
    }
  }
}
