main {
  width: 80%;
  margin: 0 auto;
  text-align: center;

  .quotes_container {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 10rem;
    border: 2px solid #056952;
    border-radius: 5px;
    width: 75%;
    padding-top: 2rem;
    margin-bottom: 25rem;
    background-color: rgb(36, 36, 39);
    padding-right: 2rem;
    padding-left: 2rem;

    p {
      color: rgb(158, 151, 151);
      margin-bottom: 10rem;
      margin-top: 5rem;
    }

    button {
      background-color: #056952;
      color: rgb(158, 151, 151);
      padding: 0.3rem;
      border: none;
      transition: all 0.25s ease-in-out;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
