header {
  nav {
    background-color: #056952;
    color: rgb(159, 152, 152);
    position: fixed;
    top: 0;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 700px) {
      display: block;
      text-align: center;
    }

    ul {
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      margin-right: 20rem;

      @media screen and (max-width: 700px) {
        display: block;
        text-align: center;
        margin: auto;
      }

      li {
        list-style: none;
        a {
          text-decoration: none;
          color: rgb(159, 152, 152);
        }
      }
    }

    h1 {
      text-align: center;
    }
  }
  margin-bottom: 5rem;

  @media screen and (max-width: 700px) {
    margin-bottom: 10rem;
  }
}
