.char_list {
  display: flex;
  flex-flow: wrap;
  gap: 50px;
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 50px;

  .box {
    background-color: #056952;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 200px;
    text-align: center;
  }
}

pagination-controls {
  text-align: center;
  color: white;
}
